*{ margin: 0; padding: 0;text-shadow: none; box-sizing: content-box;-webkit-box-sizing: content-box;text-decoration: none;-webkit-tap-highlight-color: transparent;}
p{margin: 0;}
body {font-family: "Helvetica Neue","Helvetica,Arial","Microsoft YaHei","微软雅黑","sans-serif"; padding: 0; margin: 0;}
b, h1, h2, h3, h4,h5,h6, strong { font-weight:normal; }
i, em { font-style:normal; }
ul,ol,li{list-style:none}
img{border:0;vertical-align:middle}
a { text-decoration: none;color:#000;}
a img { display: block; border: none; }
a:hover,a:active{outline:none;text-decoration:none;}
a:focus{text-decoration:none;outline:none}
select, textarea, input { outline: none; }
input { border:none 0; font-family: "微软雅黑";}
input[type=text]{-webkit-appearance: none;}
input[type=password]{-webkit-appearance: none;}
input::-ms-clear {display: none; }
input::-ms-reveal{display: none;}
.input:valid + .clear { display: inline; }
.fl {float: left; }
.fr {float: right; }
.clearfix:after { display: block; content:''; clear: both; }
.clearfix { zoom:1; }
html,body{
	width: 100%;
	height: 100%;
}

.theme{
	width: calc(100% - 24px);
	padding: 0 12px;
	
}
.header{
	width: 100%;
	display: block;
}
.suspension1{
	width: 50px;
	height: 50px;
	background:#f00;
	position: fixed;
	right: 20px;
	top: 90px;
	background: url(../image/wxx.gif) no-repeat;
	background-size: 100% 100%;	
}
.title1{
	width: calc(100% - 8px);
	font-size: 16px;
}
.content1{
	font-size: 16px;
	line-height: 20px;
	color: #64666c;
}
.mask1{
	color: #f00;
	height: 16px;
	font-size: 16px;
	line-height: 16px;
	margin-top: 2px;
	width: 100%;
}
.mask2{
	color: #f00;
	font-size: 16px;
	
	
	
}
.gmt{
	margin-top: 10px;
}
.img_2{
	width: 350px;
	height: 144px;
	margin: 0 auto;
	display: block;
}
.area{
	font-size: 16px;
	color: rgb(252, 83, 43);
	margin-top: 20px;
	line-height: 25px;
}
.qecode{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}
.title2{
	height: 30px;
	width: 100%;
	border-bottom:1px solid #3a76a9 ;
	line-height: 30px;
	color: #616161;
	font-size: 16px;
}
.headportrait{
	width: 32px;
	height: 32px;
}
.name{
	vertical-align: bottom;
	font-size: 16px;
	margin-left: 10px;
	color: #5a5a5a;
	
}
.floor{
	text-align: center;
	font-size: 14px;
	margin-left: 10px;
	color: #5a5a5a;
	
}
.replybox{
	padding-top:10px ;
	margin-bottom: 10px;
}
.reply{
	line-height: 25px;
	color: #5a5a5a;
	font-size: 16px;
	margin-top: 6px;
}
.publicationtime{
	font-size: 14px;
	color: #818181;
}
.dialogue{
	font-size: 16px;
	color: #5a5a5a;
	line-height: 25px;
}
.dialogue span{
	font-size: 12px;
	color: #5a5a5a;
}
.bottom{
	text-align: center;
	font-size: 14px;
	color: #ccc;
	line-height: 20px;
	padding-bottom: 70px;
}
.popupbox{
	display: none;
	width: 100%;
	height: 100%;
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
}
.popupbox .mask3{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	position: absolute;
}
.popup{
	width: 300px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	top:center;
	margin-left: -150px;
	background: #fff;
	margin-top: -200px;
	padding: 10px 0;
	
}
.popup .title{
	font-size: 20px;
	margin-bottom: 20px;
	
}
.popup .hed{
	width: 25px;
	position: absolute;
	right: 10px;
	top: -10px;
	
}
.popup .big_2{
	width: 250px;
	height: 250px;
}
.popup .prompt{
	color: #007ddd;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.popup .prompt2{
	color: #f00;
	font-size: 18px;
	
}
.bottomdh{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #fff;
}
.bottomdh img{
	width: 70px;
	height: 70px;
}
.bottomdh p{
	margin-top: 10px;
	
	margin-left: 10px;
	font-size: 18px;
}
.bottomdh p .mask{
	background: yellow;
	color: #f00;
	font-size: 16px;
}
.bottomdh p .mask2{
	background: #005ab6;
	color: #fff;
	border-radius:20px ;
}
